body {
  text-align: center;
}

h1 {
  font-size: 5rem;
}
a {
  font-family: "Roboto";
  color: azure;
}

p {
  font-family: "Nunito Sans";
}
/* navbar */

.logo {
  margin-left: 3rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/* top */

#title {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://static.wixstatic.com/media/266d51_bee448c5ce1c44baadcb2926a19e2eef~mv2.jpg/v1/fill/w_1899,h_1204,al_c,q_90,usm_0.66_1.00_0.01/266d51_bee448c5ce1c44baadcb2926a19e2eef~mv2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  height: 100vh;
}

.name {
  font-family: "Montserrat";
  color: azure;

  text-align: center;
  padding: 13%;
}

.info {
  font-size: 1.5rem;
  font-weight: 700;
}

.details {
  color: azure;
  font-family: "Roboto";
  text-align: center;
}

.order {
  border-radius: 0;
  border: 5px solid;
}

/* mid */
#mid {
  padding: 7%;
}

.story {
  padding: 9% 2% 0% 10%;
  text-align: left;
}

/* menu */
#menu {
  margin: 10rem;
}

/* store */
#branch {
  padding-top: 10%;
}

.parent {
  position: relative;
}

.over-img {
  position: absolute;
  top: 80%;
  right: 20%;
  background-color: black;
}
